{% extends 'base.html' %}

{% block title %}
Autophile
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home_view' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'create_article' %}">Create an article!</a>
            <h3>Hello, {{ user.username }}</h3>
            <a href="{% url 'articles_list' %}">Your Articles</a>
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up!</a>
            <a href="{% url 'login' %}">Login!</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Autophile</h1>
    <h2>Because life rolls on four wheels (or two, whatever)</h2>
</main>

{% endblock content %}
