main {
    background-color: rgb(103, 131, 131);


}

.article-list-image-container {
    padding-left: 20px;
}
.article-list-image-container img {
    width: 200px;
    border-radius: 10px;
}

.image-container {
    padding-left: 20px;
    overflow: hidden;
}

.image-container img {
    display: block;
    border-radius: 10px;
}
