{% extends 'base.html' %}
{% block title %}
Write an Article -- Autophile
{% endblock title %}
{% block content %}
        <header>
            <nav>
                <a href="{% url 'home_view' %}">Main Page</a>
                <a href="{% url 'articles_list' %}">Your Articles</a>
            </nav>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ article_form.as_p }}
                <button>Create</button>
            </form>
        </main>
{% endblock content %}
