{% extends 'base.html' %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home_view' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="">Write an Article!</a>
            <h5>Hello, {{ user.username }}</h5>
            <a href="{% url "articles_list" %}">Your Articles</a>
            <a href="{% url "logout" %}">Log Out</a>
        {% else %}
            <a href="{% url "signup" %}">Sign Up!</a>
            <a href="{% url "login" %}">Login!</a>
        {% endif %}
    </nav>
</header>
    <main>
        <h1>Articles</h1>
        {% for article in articles_list %}
            <div>
                <h3>
                    <a href="{% url 'show_article' article.id %}">{{ article.title|truncatechars:10 }}</a>
                </h3>
                <p>{{ article.posted_on|date:'F j, Y' }}</p>
                <div class="article-list-image-container">
                    <img src="{{ article.picture }}" alt=""/>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock content %}
