{% extends 'base.html' %}
{% block title %}
{{ article.title }}
{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'home_view' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="">Write an Article!</a>
            <h5>Hello, {{ user.username }}</h5>
            <a href="{% url "articles_list" %}">Your Articles</a>
            <a href="{% url "logout" %}">Log Out</a>
        {% else %}
            <a href="">Sign Up!</a>
            <a href="">Login!</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>{{ article.title }}</h1>
    <div class="author">Written by {{ article.author }} on {{ article.posted_on }}</div>
    <div class="image-container">
    <img src="{{ article.picture }}">
    </div>
    <p>
        {{ article.content }}
    </p>
</main>
{% endblock content %}
