{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Autophile</title>
    <link rel="stylesheet" href="{% static 'css/autophile.css' %}">
</head>
<body>
    {% block content %}{% endblock content %}
    <footer>Because life rides on four wheels</footer>
</body>
</html>
